# =================================================
# IDS / SECURITY (VERY IMPORTANT)
# =================================================

# SQLite / Databases
ids.db
*.db

# GeoIP databases (license protected)
backend/geoip/
*.mmdb


# =================================================
# NODE / FRONTEND
# =================================================

node_modules/
dist/
dist-ssr/
*.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*


# =================================================
# PYTHON / BACKEND
# =================================================

venv/
__pycache__/
*.pyc


# =================================================
# LOGS
# =================================================

logs/
*.log


# =================================================
# EDITOR / OS FILES
# =================================================

.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
